/* p {
    background-color: rgb(235, 210, 178);
}


.p1 {
    background-color: rgb(235, 210, 178);
}


#pid1 {
    background-color: rgb(226, 138, 15);
}


.p1#pid2 {
    background-color: rgb(61, 233, 89);
    display: block;
} */
